@import '../node_modules/modern-normalize/modern-normalize.css';

:root {
    font-size: 62.5%;
}

header {
    background-color: black;
}

nav {
    display: flex;
    justify-content: center;
    gap: 1rem;
}