@import '../node_modules/modern-normalize/modern-normalize.css';

@font-face {
    font-family: "Merienda";
    src: url(./fonts/Merienda/Merienda-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Roboto";
    src: url(./fonts/Roboto/Roboto-Regular.ttf);
}

:root {
    font-size: 62.5%;
    line-height: 1.5;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
}

img {
    width: 100%;
    height: 100%;
}

header {
    background-color: #164e63;
    font-family: "Roboto";
    height: 8rem;
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    gap: 3rem;
}

nav button {
    font-size: 2rem;
    background-color: inherit;
    border: none;
}

nav button:nth-child(1) {
    color: #22c55e;
}

nav button:nth-child(2) {
    color: white;
}

nav button:nth-child(3) {
    color: #ef4444
}

#content {
    font-family: "Merienda";
    font-size: 2rem;
    padding: 1rem 7rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.restaurant-title, .menu-title, .contact-title {
    padding: 2rem 0;
    margin: 2rem 0;
    text-align: center;
    font-size: 4rem;
    text-transform: uppercase;
}

.restaurant-main, .main-menu, .contact-main {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    max-width: 80ch;
}

.restaurant {
    margin-top: 2rem;
    border-top: 1px solid #737373;
    margin-bottom: 2rem;
}

.restaurant-headline, .pizzas-headline {
    font-size: 3rem;
}

.restaurant-photos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.restaurant-photos > * {
    box-shadow: 0px 0px 5px 2px #737373;
}

.pizzas {
    border-top: 1px solid #737373;;
    margin-bottom: 2rem;
}

.pizza-photos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(333px, 1fr));
    gap: 2rem;
}

.pizza-photos > * {
    box-shadow: 0px 0px 5px 2px #737373;
}

.menu {
    padding: 3rem;
    align-self: center;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem 0;
    margin-bottom: 2rem;
    background-color: #fed7aabf;
    box-shadow: 0px 0px 5px 1px #164e63;
}

.main-menu {
    margin-bottom: 6rem;
}

.menu div:nth-child(3) {
    grid-area: 1 / 2 / 2 / 3;
}

.menu-pizzas, .desserts {
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
}

.menu-pizzas {
    padding-right: 4.5rem;
    border-right: 1px solid #164e63;
}

.pizza, .dessert {
    display: grid;
    grid-auto-flow: column;
    gap: 3rem;
    justify-content: space-between;
}



.contact-text {
    align-self: center;
    padding: 1rem;
    margin: 2rem 0rem 1rem;
    font-size: 2.5rem;
    text-decoration: underline;
}
.contacts {
    align-self: center;
    display: grid;
    padding: 3rem;
    margin: 2rem;
    background-color: #fef3c7;
    box-shadow: 0px 0px 5px 1px #164e63;
}

.contact {
    padding: 3rem;
}

.contacts > div:first-child {
    border-bottom: 1px solid #164e63;
}

form {
    padding: 2.5rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-self: center;
    background-color: #a3a3a30a;
}

label {
    margin-right: 1rem;
}

.form-message {
    grid-area: 2 / 1 / 3 / 3;
}

textarea {
    width: 100%;
}

.form-button {
    position: relative;
    grid-area: 3 / 1 / 4 / 3;
    justify-self: center;
    background-color: #164e63;
    color: white;
    padding: 1.5rem 2.5rem;
    border-radius: 5px;
}

.form-button:active {
    top: 1px;
}

.form-button:hover {
    background-color: #fef3c7;
    color: black;
    transition: 0.25s;
}

input, textarea {
    padding: 1rem;
    font-family: "Roboto";
}


footer {
    padding: 0.75rem;
    margin-top: auto;
    background-color: #164e63;
    color: white;
    text-align: center;
    font-size: 1.2rem;
}

a {
    color: white;
}