@import '../node_modules/modern-normalize/modern-normalize.css';

@font-face {
    font-family: "Merienda";
    src: url(./fonts/Merienda/Merienda-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Roboto";
    src: url(./fonts/Roboto/Roboto-Regular.ttf);
}

:root {
    font-size: 62.5%;
    line-height: 1.5;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
}

img {
    width: 100%;
    height: 100%;
}

header {
    background-color: #164e63;
    font-family: "Roboto";
    height: 8rem;
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    gap: 3rem;
}

nav button {
    font-size: 2rem;
    background-color: inherit;
    border: none;
}

nav button:nth-child(1) {
    color: #22c55e;
}

nav button:nth-child(2) {
    color: white;
}

nav button:nth-child(3) {
    color: #ef4444
}

#content {
    font-family: "Merienda";
    font-size: 2rem;
    padding: 1rem 7rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.restaurant-title {
    padding: 3rem 0;
    margin: 3rem 0;
    text-align: center;
    font-size: 4rem;
    text-transform: uppercase;
}

.restaurant-main {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    max-width: 80ch;
}

.restaurant {
    margin-top: 2rem;
    border-top: 1px solid #737373;
}

.restaurant-headline, .pizzas-headline {
    font-size: 3rem;
}

.restaurant-photos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.restaurant-photos > * {
    box-shadow: 0px 0px 5px 2px #737373;
}

.pizzas {
    border-top: 1px solid #737373;;
}

.pizza-photos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(333px, 1fr));
    gap: 2rem;
}

.pizza-photos > * {
    box-shadow: 0px 0px 5px 2px #737373;
}

footer {
    padding: 0.75rem;
    margin-top: auto;
    background-color: #164e63;
    color: white;
    text-align: center;
    font-size: 1.2rem;
}

a {
    color: white;
}